<a href="https://colab.research.google.com/github/KC-ai/Fellowship.AI/blob/main/fellowship_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
import pandas as pd
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('vader_lexicon')

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from google.colab import drive 

drive.mount('/content/gdrive')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('gdrive/My Drive/Fellowship.ai/IMDBDataset.csv')
#We create a dataframe here in pandas based off the IMDB Dataset csv of 50k movies, whihc I have upolaoded to google drive for it to read properly

In [ ]:
stop_words = set(stopwords.words('english'))
#Above, we get a set of stopwords, which are just common words that grammatically hold sentences together, but don't add any meaning to the sentence
df['review'] = df['review'].apply(lambda x: [word for word in word_tokenize(x) if word not in stop_words and word.isalpha()])
#Here, we tokenize the text in each row of the review column, by using the word_tokenize function in NLTK library
#Next, we filter out the resulting list of words so that it doesn't include stop words as well as non alphabetical words
#Lastly, we put those same words in each row of the review column using the lambda function

In [ ]:
print(df['review'].head())

0    [One, reviewers, mentioned, watching, Oz, epis...
1    [A, wonderful, little, production, br, br, The...
2    [I, thought, wonderful, way, spend, time, hot,...
3    [Basically, family, little, boy, Jake, thinks,...
4    [Petter, Mattei, Love, Time, Money, visually, ...
Name: review, dtype: object

In [ ]:
analyzer = SentimentIntensityAnalyzer()
#This analyzer object is an instance of the SentimentIntensityAnalyzer class, which has the functions necessary to assign a sentiment score to a string based on the positive or negatives of it
df['sentiment1'] = df['review'].apply(lambda x: analyzer.polarity_scores(' '.join (x))['compound'])
#Here, we're creating a new column called sentiment1 (since we already have sentiment column in the dataset giv en already), and we give it scores based off the sentiment score of each row, which is 
#determined using the analyzer objects attributes and functions of the polarity scores which are pre determined and give it a higher value based on positive or lower based on negative, 
# and we use a lambda function to apply it to the review column and put that into that into the sentiment1 column

In [ ]:
df.head()

                                              review sentiment  sentiment1
0  [One, reviewers, mentioned, watching, Oz, epis...  positive     -0.9900
1  [A, wonderful, little, production, br, br, The...  positive      0.9515
2  [I, thought, wonderful, way, spend, time, hot,...  positive      0.9354
3  [Basically, family, little, boy, Jake, thinks,...  negative     -0.8645
4  [Petter, Mattei, Love, Time, Money, visually, ...  positive      0.9871

In [ ]:


# Calculate the mean and standard deviation of the sentiment scores
mean = df['sentiment1'].mean()
std = df['sentiment1'].std()
print(f'Mean sentiment: {mean:.2f}')
print(f'Standard deviation: {std:.2f}')

# # Create a bar plot of the sentiment scores by label
# df.groupby('label')['sentiment'].mean().plot(kind='bar')

Mean sentiment: 0.36
Standard deviation: 0.77

In [ ]:
df

                                                  review sentiment  sentiment1
0      [One, reviewers, mentioned, watching, Oz, epis...  positive     -0.9900
1      [A, wonderful, little, production, br, br, The...  positive      0.9515
2      [I, thought, wonderful, way, spend, time, hot,...  positive      0.9354
3      [Basically, family, little, boy, Jake, thinks,...  negative     -0.8645
4      [Petter, Mattei, Love, Time, Money, visually, ...  positive      0.9871
...                                                  ...       ...         ...
49995  [I, thought, movie, right, good, job, It, crea...  positive      0.9870
49996  [Bad, plot, bad, dialogue, bad, acting, idioti...  negative     -0.8934
49997  [I, Catholic, taught, parochial, elementary, s...  negative     -0.9578
49998  [I, going, disagree, previous, comment, side, ...  negative     -0.5267
49999  [No, one, expects, Star, Trek, movies, high, a...  negative      0.8860

[50000 rows x 3 columns]